- name: Copy configs into Batfish snapshot folder
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
    - name: Ensure snapshot dir exists
      ansible.builtin.file:
        path: "snapshots/ci_net/s1/configs"
        state: directory
        mode: '0755'

    - name: Copy all device configs (recursive)
      ansible.builtin.copy:
        src: "../configs/"
        dest: "snapshots/ci_net/s1/configs/"
        recurse: yes
